<% include ../partials/head %>
<!--initial body and div included in head.ejs-->
    
    <div style="padding-top:20px">
      <h4><%= project.type %></h4>
      <% project.forEach(function(project){ %>
        <% if (project.type === type) {%>
          <a href="/gallery/<%= type %>/<%= project.title %>">
            <div class="square bg" style="background-image:url('/img/thumbnails/<%= project.thumb %>')">
              <div class="content">
                <div class="table">
                  <div class="table-cell">
                    <p><%= project.title %></p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        <% } %>
      <% }) %>
    </div>

<!--final div included in footer.ejs-->
<% include ../partials/footer %>