<% include ../partials/head %>
    
  <div style="padding-top:20px">
    <% for (let project of projects) { %>
      <a href="/gallery/<%= type %>/<%= project.title %>">
        <figure class="effect-lily">
        <div class="square bg" style="background-image:url('/img/thumbnails/<%= project.thumbPath %>')">
          <p><%= project.title %></p>
        </div>
        </figure>
      </a>
    <% } %>
    <!-- <div class="grid-container">
      <% for (let project of projects) { %>
        <div class="grid-item" style="background:url('/img/thumbnails/<%= project.thumbPath %>') center center no-repeat; background-size: cover"> 
          <p><%= project.title %></p>
        </div>
      <% } %>
    </div> -->
  </div>
  
<% include ../partials/footer %>