<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/img/tk-favicon.png">

    <title>tomKat creative</title>
    
    <!--fonts and icons-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" 
      integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" 
      crossorigin="anonymous">
    </script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" 
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
      crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/main.css" rel="stylesheet">
    <link href="/stylesheets/lily-hover.css" rel="stylesheet">
  </head>
  <body class="text-center container" id="<%= background %>-background">
    <header>
        <div>
          <a href="/"><img id="header" src="/img/webbanner.svg"></a>
        </div>
        <nav class="nav justify-content-center nav-pills">
          <a class="nav-link <%= typeof page !== 'undefined' && page === 'home' ? 'active' : '' %>" href="/">
            HOME
          </a>
          <a class="btn btn-secondary dropdown-toggle <%= typeof page !== 'undefined' && page === 'work' ? 'active' : '' %>" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            WORK
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/gallery/animation/index">Animation <span class="fas fa-film"></span></a>
            <a class="dropdown-item" href="/gallery/illustration/index">Illustration <span class="fas fa-pencil-alt"></span></a>
            <a class="dropdown-item" href="/gallery/web/index">Web/Mobile <span class="fas fa-mobile-alt"></span></a>
          </div>
          <a class="nav-link <%= typeof page !== 'undefined' && page === 'contact' ? 'active' : '' %>" href="/contact">
            CONTACT
          </a>
        </nav>
    </header>

    <div style="padding-top:20px">
    <% for (let project of projects) { %>
      <a href="/gallery/<%= type %>/<%= project.title %>">
        <figure class="effect-lily">
        <div class="square bg" style="background-image:url('/img/thumbnails/<%= project.thumbPath %>')">
          <p><%= project.title %></p>
        </div>
        </figure>
      </a>
    <% } %>
  </div>
  <footer class="footer">
  <div class="container">
    <p class="text-muted">&copy; YelpCamp 2017 | <a href="/campgrounds">Home</a> | <a href="/campgrounds/new">New Campground</a></p>
  </div>
  </footer>
  
  </body>
  
<!-- <footer>
  <p>EEJETL</p>
  <span class="fab fa-node"></span>
</footer> -->   
    
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" 
    integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" 
    crossorigin="anonymous">
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
    crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
    crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
    crossorigin="anonymous">
  </script>
  
  <!--Lightbox for Bootstrap-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js">
  </script>
  <script type="text/javascript">
      $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
      });
    </script>
</html>